
.color1{
    background-color: #4fb8ea !important;
}
.color1f{
    background-color: #19b1ff !important;
}

.color2{
    background-color: #83da12 !important;;
}
.color1f{
    background-color: #08c063 !important;;
}

.color3{
    background-color: #D6400B !important;;
}
.color3f{
    background-color: #B6400B !important;;
}


.color4{
    background-color: #FA4B6B !important;
}
.color4f{
    background-color: #FA2B6B !important;
}








.btn1-color1{
    background-color: #00bec8 !important;
}

.btn1-color2{
    background-color: #4fb8ea !important;
}

.btn1-color3{
    background-color: #08c063 !important;
}
.btn1-color4{
    background-color: #008dff !important;
}
.btn1-color5{
    background-color: #dcffa0 !important;
}
.btn1-color6{
    background-color: #83da12 !important;
}
.btn1-color7{
    background-color: #D6400B !important;
}